.container {
  max-width: 75%;
  margin: 0 auto;
  padding: 0 $m-size;

  &.flex {
    display: flex;
  }
}

.draw-panel {
  flex-grow: 2;
  margin-right: $xl-size;
}

.draw-panel__options {
  display: flex;
  justify-content: center;
}

.side-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 325px;
}

.side-panel__text {
  color: white;
  font-size: $m-size;
  font-weight: 600;
  margin: 0 0 $m-size;
}

@media (max-width: 45rem) {
  .container {
    max-width: 90%;
  
    &.flex {
      flex-direction: column;
      margin-bottom: $m-size;
    }
  }

  .draw-panel {
    flex-grow: 0;
    margin-right: 0;
  }

  .side-panel {
    flex-grow: 0;
  }
}